/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}
/* CSS Reset */

/* Variables */
:root {
  /* Colors */
  --green: #44ffa1;
  --purple-dark: #24053e;
  --purple-medium: #584d62;
  --purple-light: #fcf8ff;
  --white: #fff;
}

/* Utility Classes */
/* Colors */
.white {
  color: var(--white);
}

.bg-white {
  background-color: var(--white);
}

.purple-dark {
  color: var(--purple-dark);
}

.bg-purple-dark {
  background-color: var(--purple-dark);
}

.bg-green {
  background-color: var(--green);
}

/* Text Presets */
.text-preset-1 {
  font-family: "Fraunces", serif;
  font-size: 5rem;
  line-height: 100%;
  font-weight: 600;
}

.text-preset-2 {
  font-family: "Fraunces", serif;
  font-size: 3.5rem;
  line-height: 120%;
  font-weight: 600;
}

.text-preset-3 {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  line-height: 120%;
  font-weight: 600;
}

.text-preset-4 {
  font-family: "Manrope", sans-serif;
  font-size: 1.125rem;
  line-height: 180%;
  font-weight: 400;
}

.text-preset-5 {
  font-family: "Manrope", sans-serif;
  font-size: 1.125rem;
  line-height: 180%;
  font-weight: 700;
}

/* Body */
body {
  position: relative;
  overflow-x: hidden;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100vw;
  background-color: var(--purple-dark);
  height: 99vh;
  clip-path: ellipse(140% 100% at 50% 0%);
  z-index: -2;
}

/* Decorative Circles */
.circles-1 {
  position: absolute;
  left: -6rem;
  top: 20vh;
  z-index: -1;
}

.circles-2 {
  position: absolute;
  right: -3rem;
  top: 50vh;
  z-index: -1;
}

/* Header */
header {
  padding-inline: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}

header a {
  text-decoration: none;
  position: relative;
  transition: color 0.25s;
}

header a:hover {
  color: var(--green);
}

header a::after {
  content: "";
  position: absolute;
  background-color: var(--green);
  height: 3px;
  bottom: -2px;
  left: 0;
  right: 0;
}

/* Hero */
.hero {
  text-align: center;
}

h1 {
  margin-top: 3.5rem;
}

h1 span {
  position: relative;
}

h1 span::after {
  content: "";
  position: absolute;
  background-color: var(--green);
  height: 3px;
  bottom: 7px;
  left: 0;
  right: 0;
}

.hero a {
  text-decoration: none;
  margin-top: 2rem;
  margin-inline: auto;
  height: 3rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--green);
  transition: background-color 0.25s, color 0.25s;
}

.hero a:hover {
  background-color: transparent;
  color: var(--green);
}

.hero img {
  width: 48rem;
  margin-inline: auto;
  margin-top: 5.5rem;
}

/* List */
.list {
  padding: 5.5rem 10vw 9rem;
}

.list ul {
  display: flex;
  gap: 2rem;
}

.list ul li {
  text-align: center;
  width: 33%;
}

.list ul span {
  font-size: 24px;
  font-family: "Fraunces", serif;
  font-weight: 600;
  color: var(--purple-dark);
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--purple-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-inline: auto;
}

.list ul li h2 {
  margin-block: 2rem 1rem;
}

/* Apply */
.apply {
  padding-inline: 10vw;
  padding-top: 7rem;
}

.apply-content {
  position: relative;
  padding-top: 10.5rem;
}

.founder {
  max-width: 40%;
  min-width: 16rem;
  position: absolute;
  top: 0;
  left: 0;
}

.application-box {
  max-width: 67.5%;
  margin-left: auto;
  position: relative;
  padding: 4rem;
}

.circles-3 {
  position: absolute;
  bottom: -4rem;
  right: 4rem;
  width: 10rem;
}

.application-box p {
  margin-block: 2rem;
}

.application-box a {
  height: 3rem;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 2px solid var(--green);
  transition: background-color 0.25s, color 0.25s;
}

.application-box a:hover {
  background-color: transparent;
  color: var(--green);
}

/* Footer */
footer {
  padding-block: 7rem;
}

.footer-logo {
  margin-inline: auto;
  margin-bottom: 4.5rem;
}

.social-links {
  display: flex;
  margin-inline: auto;
  width: fit-content;
  gap: 1.5rem;
  font-size: 1.75rem;
  color: var(--purple-medium);
}

.social-links a {
  transition: color 0.25s;
}

.social-links a:hover {
  color: var(--purple-dark);
}
